<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}DevWeb{% endblock %}</title>
</head>
<body>
    <header>
        <a href="/" class="logo">logo</a>
        <nav>
            {% if user %}
                <a href="/profile" class="btn-profile">{{ user }}</a>
                <a href="/logout" class="btn-logout">Déconnexion</a>
            {% else %}
                <a href="/signup" class="btn-signup">Inscription</a>
                <a href="/login" class="btn-login">Connexion</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>