{% extends 'base.html' %}

{% block title %} Login - DevWeb {% endblock %}

{% block content %}

<form action="" method="post" class="login-form">
    <div class="login-form">
        <label for="username">username: </label>
        <input type="text" name="username" id="username" required />
    </div>
    <div class="login-form">
        <label for="password">password: </label>
        <input type="password" name="password" id="password" required />
    </div>
    <div class="login-form">
        <input type="submit" name="submit" id="submit">
    </div>
</form>

{% endblock %}