{% extends 'base.html' %}

{% block title %} Profile - DevWeb {% endblock %}

{% block content %}

<div class="profile">

    <div class="field">
        <span class="label">Username</span>
        <span class="value" id="username">{{ user_data['username'] }}</span>
        <button class="btn-edit" data-field="username">modifer</button>
    </div>

    <div class="field">
        <span class="label">Email</span>
        <span class="value" id="email">{{ user_data['email'] }}</span>
        <button class="btn-edit" data-field="email">modifer</button>
    </div>

    <div class="field">
        <span class="label">Nom</span>
        <span class="value" id="nom">{{ user_data['nom'] }}</span>
        <button class="btn-edit" data-field="nom">modifier</button>
    </div>

    <div class="field">
        <span class="label">Prénom</span>
        <span class="value" id="prenom">{{ user_data['prenom'] }}</span>
        <button class="btn-edit" data-field="prenom">modifier</button>
    </div>

</div>
<script src='../static/js/profile.js'></script>
{% endblock %}