{% extends 'base.html' %}

{% block title %} Sign Up - DevWeb {% endblock %}

{% block content %}

<form action="" method="post" class="signup-form">
    <div class="signup-form">
        <label for="username">pseudo: </label>
        <input type="text" name="username" id="username" required />
    </div>
    <div class="signup-form">
        <label for="password">mot de passe: </label>
        <input type="password" name="password" id="password" required />
    </div>
    <div class="signup-form">
        <label for="name">nom: </label>
    </div>
    <div class="signup-form">
        <input type="submit" name="submit" id="submit" required />
    </div>
</form>

{% endblock %}

